.parallax {
  /* The image used */
  background-image: url("http://media2.giphy.com/media/l3vR4Nfdli0jnmF8c/giphy.gif");

  /* Set a specific height */
  min-height: 400px;
  max-height: 1500px;

  /* Create the parallax  scrolling effect */
  background-attachment: fixed;
  background-position: center;
  position: relative;

  background-repeat: no-repeat;
  background-size: cover;
  overflow: hidden;
}

#text-jumbo {
  padding-top: 150px;
  font-size: 100px;
  color: white;
  opacity: 55%;
}

.welcome-div {
  text-align: center;
  left: 50%;
  opacity: 0.9;
}

.btn-div {
  width: 100%;
  position: absolute;
  top: 65%;
  left: 50%;
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}

.btn {
  margin: 10px;
  height: 60px;
}

#text-jumbo {
  padding-top: 50px;
  font-size: 100px;
  color: white;
  opacity: 55%;
}
