body {
  /* background-image: url("http://media2.giphy.com/media/l3vR4Nfdli0jnmF8c/giphy.gif"); */
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
}

.card-footer {
  background-color: transparent;
  color: white;
  text-align: center;
  position: relative;
  bottom: 0;
  bottom: 0x;
  height: 150px;
  border-top: none;
  margin-top: 75px;
  width: 100%;
  color: white;
  font-weight: bold;
}

#loginbtn {
  color: #fff;
  background-color: #196887;
  border-color: #198787;
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
}

.login-form {
  width: 500px;
  margin-left: 10%;
  padding-top: 70px;
}

.form-control {
  margin: 10px;
}
